# --- dependencias ---
node_modules/

# --- builds ---
clock-weather-client/dist/
server/dist/

# --- envs (solo los locales) ---
server/.env
clock-weather-client/.env

# --- logs/cache ---
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# --- SO/editores ---
.DS_Store
Thumbs.db
.vscode/
.idea/
